*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
    font-family: 'Dancing Script', cursive;
    line-height: 1.5;
    height: 100vh;
}
span,p,.nav-items>div,.nav-items2>div{
    font-family: "Open Sans", sans-serif;
}
.header{
    width: 100%;
    height: 103vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    overflow: hidden;
}
.header>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.nav{
    position: absolute;
    width: 80%;
    height: 50px;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-shift{
    display: flex;
    justify-content: space-between;
}
.logo>h2{
    display: inline-block;
    padding: 8px 40px;
    font-size: 2.5em;
    margin-right: 120px;
}
.nav>.logo>h2:hover{
    cursor: pointer;
}
.nav-items{
    padding: 8px;
    text-align: center;
    display: flex;
    margin-right: 80px;
}
.nav-items>div>a{
    text-decoration: none;
    color: white;
}
.nav-items>div>a,.nav-items2>div>a{
    font-size: 1rem;
    padding: 5px 20px;
    font-weight: 300;
    transition: all 0.5s ease;
    text-align: center;
}
.nav-items>div>a:hover,.icons>i:hover{
    cursor: pointer;
    color: #ffbe33;
}
.icons,.icons2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons>i,.icons2>i{
    padding: 5px;
    transition: all 0.5s ease;
}
.order{
    margin: 0px 10px;
    padding: 8px 30px;
    background-color: #ffbe33;
    border-radius: 30px;
}
.icons>.order:hover{
    cursor: pointer;
    background-color: #99721e;
}
.nav>label>i,.nav>input{
    font-size: 2.5rem;
    display: none;
}
.ham-content{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 90%;
    position: absolute;
    transform: translateY(-180px);
    display: none;
}
.nav>label>i:hover{
    cursor: pointer;
}
#ham:hover ~.ham-content{
    display: flex;
}
.main{
    position: absolute;
    color: white;
    margin-top: 2em;
    width: 80%;
    height: 100%;
    padding: 45px 30px 75px;
    display: flex;
    animation-name: slide;
    animation-timing-function:ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: -1;
}
.info{
    width: 50%;
    height: 100%;
    padding:45px 0px 75px;
    margin-top: 40px;
}
.info>h1,.info2>h1{
    top: 0;
    font-size: 4em;
    display: inline-block;
    margin-bottom: 15px;
}
.info>p,.info2>p{
    font-size: 14px;
}

.info2{
    width: 50%;
    height: 100%;
    padding:45px 0px 75px;
    margin-top: 40px;
    transform: translateX(150%) translateY(0px);
}

.now{
    margin-top: 30px;
    padding: 8px 30px;
    background-color: #ffbe33;
    border-radius: 30px;
    display: inline-block;
}
.now:hover{
    cursor: pointer;
    background-color: #d8a22d;
}
.dotted{
    width: 100%;
    height: 16px;
    bottom: 0;
    transform: translateY(-80px) translateX(120px);
}
.dotted>.dots{
    width: 50%;
    height: 100%;
    margin-left: 50px;
}
.dotted>.dots>span{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 16px;
    height: 100%;
    margin: 4px;
    border-radius: 50%;
}
#first{
    animation-name: dott1;
    animation-timing-function: ease;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
#second{
    animation-name: dott2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
#third{
    animation-name: dott3;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.offers{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 60px;
}
.offers>.width{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.offer1,.offer2{
    background-color: #222831;
    width: 45%;
    height: 100%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.offer1>.img-box,.offer2>.img-box{
    width: 180px;
    height: 180px;
    border: 5px solid #ffbe33;
    border-radius: 50%;
    overflow: hidden;
}
.img-box:hover>img{
    transform: scale(1.1);
}
.img-box>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.detail-box{
    color: white;
    margin-left: 16px;
    padding: 10px;
    height: 100%;
}
.detail-box>p{
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}
.detail-box>span{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    font-weight: 700;
}
.detail-box>.now2{
    padding: 8px 30px;
    background-color: #ffbe33;
    border-radius: 30px;
}
.now2:hover{
    cursor: pointer;
    background-color: #d8a22d;
}
/* menu */
.menu{
    width: 100%;
    margin-top: 20px;
    height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu>h1{
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
}
.menu>.menu-buttons{
    width: 90%;
    margin-top: 45px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.menu-buttons>span{
    padding: 7px 25px;
    border-radius: 25px;
}
#all-btn{
    background-color: #222831;
    border-radius: 25px;
    color: white;
}
.menu-buttons>span:hover{
    cursor: pointer;
    background-color: #222831;
    color: white;
}

/* items---------------------------------------- */
.items{
    margin-top: 45px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    width: 28%;
    height: 400px;
    background-color: #222831;
    color: white;
    border-radius: 10px;
    margin: 15px 15px;
}
.item>.img{
    width: 100%;
    height: 50%;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 45px;
    margin-top: -1px;
    overflow: hidden;
}
.img>img{
    width: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
}
.img:hover>img{
    transform: scale(1.1);
}
.item-info{
    width: 100%;
    padding: 10px;
}
.item-info>h1{
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size:1.3em;
}
.item-info>p{
    font-size: 1em;
}
.buy{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.buy>i{
    width: 40px;
    height: 100%;
    background-color: #ffbe33;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy>i:hover{
    cursor: pointer;
    background-color: #d8a22d;
}
.view{
    margin-top: 2em;
    color: white;
    background-color: #ffbe33;
    padding: 8px 40px;
    border-radius: 30px;
}
.view:hover{
    cursor: pointer;
    background-color: #d8a22d;
}

/* about-ctr -------------------------------------------*/
.about-ctr{
    margin-top: 80px;
    width: 100%;
    height: 110vh;
    padding: 10px 100px;
    background-color: #222831;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    overflow: hidden;
}
.about-ctr>.image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.image>img{
    width: 70%;
    object-fit: cover;
}
.about-ctr>.info3{
    width: 50%;
    height: 100%;
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-ctr>.info3>h1{
    display: inline-block;
    font-size: 2.5rem;
}
.info3>.read{
    width: 30%;
    margin-top: 2em;
    display: inline-block;
    color: white;
    background-color: #ffbe33;
    padding: 10px 40px;
    border-radius: 30px;
    text-align: center;
}
.read:hover{
    cursor: pointer;
    background-color: #d8a22d;
}
/* contact----------------------------------------------- */
.contact{
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.width-div>h1{
    display: inline-block;
    margin-bottom: 25px;
    text-align: left;
    font-size: 2.5rem;
}
.width-div>.con-dets{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.dets{
    width: 48%;
}
.width-div{
    width: 80%;
    height: 100%;
}
.dets>input{
    width: 100%;
    height: 50px;
    padding: 6px 12px 6px 25px;
    margin-bottom: 25px;
    font-size: 16px;
    font-family:"Open Sans", sans-serif;
    color: black;
    border: 1px solid #999;
    border-radius: 5px;
}
 #persons{
    width: 100%;
    height: 50px;
    padding: 6px 12px 6px 25px;
    margin-bottom: 25px;
    font-size: 16px;
    font-family:"Open Sans", sans-serif;
    color: black;
    border: 1px solid #999;
    border-radius: 5px;
 }
.maps{
    width: 48%;
    height: 100%;
}
.maps>iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.align>.book{
    color: white;
    margin-top: 40px;
    padding: 10px 55px;
    background-color: #ffbe33;
    border-radius: 30px;
    display: inline-block;
}
.book:hover{
    cursor: pointer;
    background-color: #d8a22d;
}
.align{
    width: 80%;
    display: flex;
    justify-content: left;
}

/* customers----------------------- */
.customers{
    width: 100%;
    /* margin: 50px 0px; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.customers>h1{
    display: inline-block;
    font-size: 2.5rem;
}
.people{
    width: 85%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    animation-name: slide2;
    animation-timing-function:ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.customer,.customer2{
    width: 45%;
    height: 350px;
    margin-top: 20px;
}
.customer2{
    transform: translateX(1350px) translateY(-370px);
}
.cus-det{
    width: 100%;
    height: 55%;
    background-color: #222831;
    font-family:"Open Sans", sans-serif;
    padding: 1.25em;
    border-radius: 10px;
    color: white;
}
.cus-det>p{
    font-size: 0.9rem;
}
.cus-det>h3{
    margin-top: 0.4em;
}
.cus-img{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 25px;
    z-index: 1;
}
.cus-img>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #ffbe33;
    margin-top: -5px;
    z-index: 2;
}
.customer>.cus-img::before,.customer2>.cus-img::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    top: -25px;
    margin: 0px 52px;
    background-color: #ffbe33;
    transform: rotate(45deg) translateY(18px);
    z-index: -2;
}
.cust-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cust-buttons>span{
    margin: 0px 5px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #ffbe33;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cust-buttons>span:hover{
    cursor: pointer;
}
/* footer */
.footer{
    width: 100%;
    height: 60vh;
    background-color: #222831;
    padding: 40px;
    color: white;
    text-align: center;
}
.foot-dets{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
}
.footer1,.footer2,.footer3{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
}
.footer1>h2,.footer3>h2{
    margin-bottom: 8px;
}
.footer3>p{
    margin-bottom: 8px;
}
.footer2>.icons{
    display: flex;
    justify-content: center;
}
.footer2>.icons>i{
    font-size: x-large;
    transition: all 0.5s ease;
}
.footer2>.icons>i:hover{
    color: #ffbe33;
}
.footer>p{
    margin-top: 30px;
}

@keyframes slide {
    0%{
        transform: translateX(0px);
    }

    80%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-118%);
    }
}
@keyframes dott1 {
    0%{
        background-color: #ffbe33;
    }
    30%{
        background-color:#ffbe33;
    }
    31%{
        background-color: white;
    }
    100%{
        background-color: white;
    }
}
@keyframes dott2 {
    0%{
        background-color: white;
    }
    30%{
        background-color:white;
    }
    31%{
        background-color: #ffbe33;
    }
    60%{
        background-color: #ffbe33;
    }
    61%{
        background-color: white;
    }
    100%{
        background-color: white;
    }
}
@keyframes dott3 {
    0%{
        background-color: white;
    }
    60%{
        background-color: white;
    }
    61%{
        background-color: #ffbe33;
    }
    100%{
        background-color: #ffbe33;
    }
}
@keyframes slide2 {
    0%{
        transform: translateX(0px);
    }

    80%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-1350px);
    }
}


/* queries-------------------------------------------------- */
@media screen and (min-width:994px) and (max-width:1076px) {
    .items,.nav,.main,.offers>.width,.width-div,.align{
        width: 90%;
    }
    .people{
        width: 95%;
    }
    .footer{
        height: 80vh;
    }
}

@media screen and (min-width:768px) and (max-width:993px) {
    .items,.nav,.main,.offers>.width,.width-div,.align{
        width: 95%;
    }
    .header{
        height: 130vh;
    }
    .offers,.menu{
        height: auto;
    }
    .offer1,.offer2{
        flex-direction: column;
        align-items: center;
    }
    .img-box,.detail-box{
        text-align: center;
        height: 50%;
    }
    .items{
        justify-content: left;
    }
    .items>.item{
        width: 45%;
    }
    .about-ctr{
        padding: 20px;
    }
    .people{
        width: 95%;
    }
    .footer{
        height: 80vh;
    }
}
@media screen and (max-width:991px) {
    .nav-items,.icons{
        display: none;
    }
    .nav>label>i{
        display: inline-block;
        margin-right: 50px;
    }
    #ham:checked>.ham-content{
        display: flex;
    }
}

@media screen and (max-width:760px) {
    .main{
        width: 160%;
        display: flex;
        justify-content: center;
    }
    .info{
        transform: translateX(50%);
    }
    .info2{
        transform: translateX(200%);
    }
    .info>h1,.info2>h1{
        font-size: 32px;
    }
    .offers,.menu{
        height: auto;
    }
    .offer1,.offer2{
        width: 90%;
        margin: 10px;
    }
    .items{
        width: 90%;
        justify-content: center;
    }
    .items>.item{
        width: 42%;
        height: 425px;
    }
    .about-ctr{
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .about-ctr>.info3{
        width: 100%;
        height: 100%;
    }
    .about-ctr>.image{
        width: 90%;
        margin-bottom: 20px;
    }
    .contact{
        height: 800px;
    }
    .con-dets{
        display: flex;
        flex-direction: column;
    }
    .dets,.maps{
        width: 100%;
    }
    .people{
        width: 90%;
    }
    .customer,.customer2{
        height: 420px;
    }
    .customer2{
    transform: translateX(1350px) translateY(-420px);
    }
    .footer{
        height: auto;
    }
}
@media screen and (max-width:574px) {
    .header{
        height: 100vh;
    }
    .offers>.width{
        width: 100%;
    }
    .offer1,.offer2{
        width: 100%;
        height: auto;
    }
    .menu-buttons{
        width: 90%;
        height: auto;
    }
    .menu-buttons>span{
        padding: 7px;
    }
    .items>.item{
        width: 100%;
    }
    .info3>.read{
        width: 50%;
    }
    .about-ctr>.info3{
        width: 160%;
    }
    .about-ctr>.image{
        margin-top: 20px;
        width: 100%;
    }
    .image>img{
        width: 100%;
    }
    .width-div{
        width: 90%;
    }
    .people{
        height: 800px;
    }
    .customer,.customer2{
        width: 100%;
        height: 380px;
    }
    .customer2{
        transform: translateX(1350px) translateY(-800px);
    }
    .foot-dets{
        display: flex;
        flex-direction: column;
    }
    .info2{
        transform: translateX(210%);
    }
}